/* 3 rules of positioning:
   Fixed positioning: The viewport is the containing element
   Absolute positioning: Containing block is the first ancestor (content plus padding)
        with position other than static.
   Static or relative: Container is the first ancestor (content only) w/c is a block-level element
*/

/* Second element is direct child of the first */
div > p {
  color: red;
}

/* Second element is a descendant of the first */
div p {
  color: red;
}

/* Elements have same parent, second immediately follows first */
h2 + p {
  color: dodgerblue;
}

/* Elements have same parent, second follows first */
h2 ~ p {
  color: wheat;
}
/*
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

See https://furbo.org/2018/03/28/system-fonts-in-css/
*/
