/* Second element is direct child of the first */
div > p {
  color: red;
}

/* Second element is a descendant of the first */
div p {
  color: red;
}

/* Elements have same parent, second immediately follows first */
h2 + p {
  color: dodgerblue;
}

/* Elements have same parent, second follows first */
h2 ~ p {
  color: wheat;
}
/*
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

See https://furbo.org/2018/03/28/system-fonts-in-css/
*/
